.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f3f3f3;
  padding: 20px;
}

.pokedex-container {
  width: 100%;
  max-width: 360px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.pokedex-header {
  background-color: #ef5350;
  color: #ffffff;
  padding: 10px;
  font-size: 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sprite-container {
  border: 2px solid #444;
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  margin-top: 20px;
}

.pokemon-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-name {
  text-transform: capitalize;
  font-size: 22px;
  margin-bottom: 10px;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.type-badge {
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

/* Type color classes */
.type-normal { background-color: #A8A77A; }
/* ... Add other type color classes here ... */

.controls {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-weight: bold;
  font-size: 16px;
  outline: none;
}

button:active {
  background-color: #ddd;
}

.tab-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background-color: lightgrey;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.tab-button.active {
  background-color: #4CAF50;
  color: white;
}

.pokemon-stats {
  text-align: left;
  width: 100%;
}

.pokemon-moves {
  text-align: left;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
}
