.App {
  text-align: center;
  font-family: sans-serif;
}

.App-header {
  background-color: #fff;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 150px; /* Adjust as needed */
  pointer-events: all; /* Enable pointer events if you want to make the image clickable */
}

/* You can remove the media query and keyframes if you're not using the spinning logo animation */

/* Style adjustments for buttons and other elements can go here */
button {
  margin: 5px;
  padding: 10px;
  background-color: lightgrey;
  border: none;
  cursor: pointer;
}

/* Add any other styles you need */